.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.productCard {
  background: white;
  border-radius: 14px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.25s;
}

.productCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}
.productCard img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
}

.productCard h3 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin-top: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category {
  color: #444444;
  font-size: 14px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.price {
  color: #16a34a;
  font-size: 22px;
  font-weight: 700;
  font-weight: bold;
}
