.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  background: var(--color-nav);

  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

/* ---------- Left ---------- */

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 105px;
  height: 70px;
  object-fit: contain;
}

/* ---------- Center ---------- */

.menu {
  display: flex;
  align-items: center;
  gap: 30px;

  list-style: none;
}

.menu a {
  display: inline-block;

  color: white;
  text-decoration: none;

  font-size: 20px;
  font-weight: 1000;
  letter-spacing: 2px;

  transition: transform 0.25s ease;
}

.menu a:hover {
  transform: translateX(2px) scale(1.03);
}

/* ---------- Right ---------- */

.actions {
  display: flex;
  align-items: center;
  gap: 28px;
}

/* ---------- Cart ---------- */

.cartBtn {
  position: relative;

  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: transparent;

  cursor: pointer;

  border-radius: 50%;

  transition: 0.2s;
}

.cartBtn:hover {
  background: rgba(255, 255, 255, 0.08);
}

.cartBtn img {
  width: 45px;
  height: 45px;
}

/* ---------- Search ---------- */

.searchInput {
  border: 1px solid;
  padding: 10px 18px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  background: rgb(233, 233, 233);
  color: black;

  font-weight: 600;
}

.searchBtn {
  border: 1px solid;
  padding: 10px 18px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  background: rgb(239, 125, 3);
  color: black;

  font-weight: 600;

  text-decoration: none;
}
